*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;
}

/* login */
main#login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section#login{
    width: 500px;
    border: 2px solid blue;
    padding: 12px;
}

section#login h1{
    text-align: center;
    margin-bottom: 12px;
}

section#login form{
    width: 100%;
}
section#login form div label{
    display: block;
}

section#login form div input{
    width: 100%;
    padding: 12px;
}
section#login form div{
    margin-bottom: 12px;
}

section#login form input[type=submit]{
    width: 100%;
    background-color: blue;
    color: white;
    border: none;
    padding: 12px;
}
/* /login */
