*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;
}

/* login */
main#login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section#login{
    width: 500px;
    border: 2px solid blue;
    padding: 12px;
}

section#login h1{
    text-align: center;
    margin-bottom: 12px;
}

section#login form{
    width: 100%;
}
section#login form div label{
    display: block;
}

section#login form div input{
    width: 100%;
    padding: 12px;
}
section#login form div{
    margin-bottom: 12px;
}

section#login form input[type=submit]{
    width: 100%;
    background-color: blue;
    color: white;
    border: none;
    padding: 12px;
}
/* /login */

/* dashboard */
main#dashboard{
    display: flex;
}
.foto-profil{
    width: 100px;
    aspect-ratio: 1/1;
    margin: 0 auto;
    margin-bottom: 12px;
}

main#dashboard aside{
    background-color:midnightblue;
    min-height: 100vh;
    width: 250px;
    color: white;
}

main#dashboard aside div{
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main#dashboard div{
    width: 100%;
}

main#dashboard div nav{
    background-color: darkblue;
    color: white;
    padding: 12px;
}

main#dashboard aside div a{
    color: white;
    text-decoration: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 12px;
    width: 100%;
}
/* /dashboard */
